.c1{background-color: #99cc00; height: 100px;}
.c2{background-color: #072dc5; height: 100px;}
.c3{background-color: #cc0099; height: 100px;}
.c4{background-color: rgb(157, 17, 218);}
.c5{background-color: rgb(242, 224, 23);}
.c6{background-color: rgba(190, 157, 34, 0.84);}
.form-control{
    margin-bottom: 15px;
}